.App {
  text-align: center;
  overflow-y: hidden;
  max-height: 620px;
  width: 100%;

}

/* part 1 */

.header {
  background-color: rgb(100, 100, 100 , 0.2);
  margin-top: 0px;
  height: 100px;
  width: 100%;

}

.header,h1 {
  margin: 0;

}

.left-button {
  font-size: 10px;
  float: left;
  width: 30px;
  
}


.right-button {
  font-size: 10px;
  float: right;
  width: 30px;
}

/* part 2 */

.gallery {
  overflow-y: hidden;
  overflow-x: auto;
  display: flex;
  height: 250px;
  width: 100%;

}

.gallery-pics {
  margin-left: 50px;
  height: 250px;
  width: 250px;
  
}

/* part 3 */

.content {
  height: 100px;
  width: 100%;

}

/* part 4 */

.lorem-ipsum {
  max-height: 100px;
  max-width: 100%;
  overflow: auto;

}

.footer {
  text-align: right;
  height: 100px;
  width: 100%;

}














/* scrollbar-width: unset; */
/* display: grid; */
/* display: flex; */
/* .gallery::-webkit-scrollbar-button {
  height: 250px;
  max-width: 100%;
  display: flex;
} */

/* .gallery-pics::-webkit-scrollbar-button {
  width: auto;
  height: auto;
} */
